@use '../../constants/theme.module.scss' as *;
@use '../../constants/deviceSizes.module.scss' as *;

.galleryContainer {
    position: relative;
    width: 100%;

    .noImages {
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        font-family: $primaryFont;
        @include text-large($primary);
    }
}

.galleryWrapper {
    display: grid;
    min-height: 640px;
}

@media (max-width: $large) {
    .galleryWrapper {
        min-height: auto;
        height: 60vw;
    }
}

@media (max-width: $small) {
    .galleryWrapper {
        height: 100vw;
    }
}
