@use '../../constants/theme.module.scss' as *;

.galleryContainer {
    position: relative;
    width: 100%;

    .noImages {
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        font-family: $primaryFont;
        @include text-large($primary);
    }
}
