@use '../../constants/theme.module.scss' as *;

.artOverview {
    display: flex;
    flex-direction: column;

    h3 {
        @include text-medium($primary);
        margin-bottom: 32px;
    }
}

@media (max-width: 1160px) {
    .artOverview {
        h3 {
            display: none;
        }
    }
}
