{
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "importOrder": [
        "^@src/(.*)$",
        "^@assets/(.*)$",
        "^@components/(.*)$",
        "^@constants/(.*)$",
        "^@ui/(.*)$",
        "^@hooks/(.*)$",
        "^@pages/(.*)$",
        "^@utils/(.*)$",
        "^@api/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
