@use '../../constants/theme.module.scss' as *;
@use '../../constants/mixins.module.scss' as *;
@use '../../constants/deviceSizes.module.scss' as *;

.noFavorites {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-family: $primaryFont;
    @include text-medium($primary);
}

.container {
    display: grid;
    min-height: 73vh;
}

.favorite {
    margin-right: 10px;
    height: 40px;
}

@media (max-width: $medium) {
    .favorite {
        margin-right: 5px;
        height: 20px;
    }
}
