@use '../../constants/mixins.module.scss' as *;
@use '../../constants/theme.module.scss' as *;

button {
    border-radius: 4px;
    background-color: rgba(255, 255, 255);
    border: none;
    outline: none;
    cursor: pointer;
    height: 30px;
    width: 30px;

    @include font(18px, 600, 23px, $primary);
}

.rotated {
    transform: rotate(180deg);
}

.hidden {
    opacity: 0;
    cursor: default !important;
}

.visible {
    opacity: 1;
}
