// sizes
.container {
    max-width: 1280px;
    margin: 0 auto;
}

// colors
$primary: #393939;
$dark-secondary: #f17900;
$light-secondary: #e0a449;
$bg: #fafafa;

// font
@mixin font($size, $weigth, $lh, $color) {
    font-size: $size;
    font-weight: $weigth;
    line-height: $lh;
    color: $color;
}
