@use '../../constants/theme.module.scss' as *;
@use '../../constants/mixins.module.scss' as *;

.pagination {
    display: flex;
    justify-content: end;

    &Buttons {
        max-width: 100%;
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 30px);
        justify-self: end;
        gap: 10px;
        margin-bottom: $sectionMargin;

        button {
            border-radius: 4px;
            background-color: rgba(255, 255, 255);
            border: none;
            outline: none;
            cursor: pointer;
            height: 30px;
            width: 30px;

            @include text-medium($primary);
        }

        .active {
            background-color: $dark-secondary;
            @include font(18px, 600, 23px, rgba(255, 255, 255));
        }
    }
}

@media (max-width: 550px) {
    .pagination {
        justify-content: center;
    }
}
