@use '../../constants/constants.module.scss' as *;

.pagination {
    display: flex;
    justify-content: end;

    &Buttons {
        max-width: 100%;
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 30px);
        justify-self: end;
        gap: 10px;
        margin-bottom: 120px;

        button {
            border-radius: 4px;
            background-color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            height: 30px;
            width: 30px;

            @include font(18px, 300, 24px, $primary);
        }

        .active {
            background-color: $dark-secondary;
            @include font(18px, 600, 23px, #fff);
        }
    }
}

@media (max-width: 550px) {
    .pagination {
        justify-content: center;
    }
}
