@use '../../constants/theme.module.scss' as *;

.title {
    box-sizing: border-box;
    max-width: 684px;
    @include text-large($primary);
    margin: $sectionMargin auto 0 auto;
    text-transform: capitalize;
    font-family: $primaryFont;
    text-align: center;

    span {
        color: $dark-secondary;
    }
}
