@use '../../constants/theme.module.scss' as *;
@use '../../constants/mixins.module.scss' as *;
@use '../../constants/deviceSizes.module.scss' as *;

.wrapper {
    position: relative;

    .hidden {
        display: none;
    }
}

.card {
    text-decoration: none;
    max-width: 387px;
    height: 514px;
    position: relative;
    display: grid;
    justify-content: center;

    & > img {
        z-index: -1;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .info {
        align-self: end;
        border: 1px solid rgba(240, 241, 241);
        background-color: rgba(255, 255, 255);
        font-family: 'Lexend Deca';
        box-sizing: border-box;
        max-width: 334px;
        padding: 17px 24px;
        height: 132px;

        display: grid;
        align-items: center;
        grid-template-columns: 2fr 1fr;

        &Main {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

.miniCard {
    text-decoration: none;
    max-width: 416px;
    height: 130px;
    padding: 0 13px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid #f0f1f1;
    gap: 16px;
    font-family: 'Inter';

    & > img {
        height: 80px;
        width: 80px;
    }

    .info {
        display: grid;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        grid-template-columns: 2fr 1fr;

        &Main {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

.artName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include font(17px, 500, 26px, $primary);
}

.artistName {
    @include font(15px, $font-size-medium, 26px, $dark-secondary);
}

.public {
    margin-top: 8px;
    @include font(15px, $font-weight-medium, 26px, $primary);
}

@media (max-width: 1300px) {
    .card {
        height: 60vw;
    }
}

@media (max-width: $medium) {
    .card {
        width: 100%;
    }
    .wrapper {
        display: grid;
        justify-content: center;
    }
    .miniCard {
        width: 395px;
    }
}

@media (max-width: $small) {
    .card {
        height: 100vw;
    }
}
