@use '../../constants/constants.module.scss' as *;

.card {
    text-decoration: none;
    min-width: 387px;
    position: relative;
    display: flex;
    justify-content: center;

    & > img {
        z-index: -1;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &Info {
        align-self: end;
        border: 1px solid #f0f1f1;
        background-color: #fff;
        font-family: 'Lexend Deca';
        box-sizing: border-box;
        max-width: 334px;
        padding: 17px 24px;
        height: 132px;

        display: grid;
        align-items: center;
        grid-template-columns: 2fr 1fr;

        &Main {
            display: grid;
            grid-template-columns: 1fr;

            .artName {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include font(17px, 500, 26px, $primary);
            }

            .artistName {
                @include font(15px, 400, 26px, $dark-secondary);
            }

            .public {
                margin-top: 8px;
                @include font(15px, 700, 26px, $primary);
            }
        }
    }
}

@media (max-width: 1300px) {
    .card {
        min-width: 30vw;
        height: 40vw;
    }
}
