@use '../../constants/theme.module.scss' as *;
@use '../../constants/mixins.module.scss' as *;

form {
    margin: 0 auto;
    position: relative;
    border-radius: $base;
    max-width: 762px;
    margin-top: 72px;
    height: 4 * $base;
    display: grid;
    align-items: center;

    input {
        font-family: $secondaryFont;
        @include text-small($primary);
        box-sizing: border-box;
        padding-left: 16px;
        height: 100%;
        border: none;
        outline: none;
        background-color: rgba($primary, 0.05);
        position: absolute;
        width: 100%;
        border-radius: inherit;
    }

    button {
        cursor: pointer;
        width: 64px;
        height: 64px;
        z-index: 1;
        background-color: inherit;
        outline: none;
        border: none;
        justify-self: end;
    }

    .error {
        margin-top: 15px;
        margin-left: 5px;
        font-family: $primaryFont;
        @include font(
            $font-size-medium,
            $font-weight-medium,
            $line-height-medium,
            $error
        );
    }
}
