@use '../../constants/constants.module.scss' as *;

.gallery {
    height: 514px;
    width: 100%;
    display: flex;
    gap: 60px;
    overflow: hidden;
}

@media (max-width: 1300px) {
    .gallery {
        height: 40vw;
    }
}
