@use '../../constants/constants.module.scss' as *;

.gallery {
    height: 514px;
    width: 100%;
    display: flex;
    gap: 60px;
    overflow: hidden;
}

.pagination {
    &Buttons {
        display: flex;
        justify-self: end;
        gap: 10px;
        margin-bottom: 120px;

        button {
            border-radius: 4px;
            background-color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            height: 30px;
            width: 30px;

            @include font(18px, 300, 24px, $primary);
        }

        .active {
            background-color: $dark-secondary;
            @include font(18px, 600, 23px, #fff);
        }
    }
}
