@use '../../constants/constants.module.scss' as *;

.gallery {
    height: 514px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    overflow: hidden;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .gallery {
        height: 60vw;
    }
}

@media (max-width: 815px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .gallery {
        grid-template-columns: 1fr;
        height: 100vw;
    }
}
