@use '../../constants/theme.module.scss' as *;
@use '../../constants/deviceSizes.module.scss' as *;
@use '../../constants/mixins.module.scss' as *;

.subtitle {
    font-family: $primaryFont;
    text-align: center;
    margin-top: $sectionMargin;
    margin-bottom: 40px;

    h5 {
        @include text-small($light-secondary);
    }

    h2 {
        @include text-medium($primary);
    }
}

@media (max-width: $medium) {
    .subtitle {
        h5 {
            @include font(14px, 400, 18px, $light-secondary);
        }
        h2 {
            @include font(26px, 400, 26px, $primary);
        }
    }
}
