@use '../../constants/constants.module.scss' as *;

.subtitle {
    font-family: 'Lexend Deca';
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;

    h5 {
        @include font(16px, 400, 20px, $light-secondary);
    }

    h2 {
        @include font(32px, 400, 40px, $primary);
    }
}
