@use '../../constants/theme.module.scss' as *;

.subtitle {
    font-family: $primaryFont;
    text-align: center;
    margin-top: $sectionMargin;
    margin-bottom: 40px;

    h5 {
        @include text-small($light-secondary);
    }

    h2 {
        @include text-medium($primary);
    }
}
