@use '../../constants/theme.module.scss' as *;
@use '../../constants/mixins.module.scss' as *;
@use '../../constants/deviceSizes.module.scss' as *;

.container {
    display: grid;
    min-height: 72vw;
}

.details {
    margin-top: 120px;
    margin-bottom: 120px;
    font-family: 'Lexend Deca';
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;

    &Img {
        box-sizing: border-box;
        max-width: 497px;
        position: relative;

        & > img {
            top: 0;
            left: 0;
            width: 100%;

            z-index: -1;
        }
    }

    &Info {
        display: grid;
        grid-template-rows: repeat(3, auto) 1fr;
        flex-direction: column;
        max-width: 640px;

        .artName {
            @include font(32px, 400, 40px, $primary);
        }

        .artistName {
            margin-top: 32px;
            @include font(25px, 400, 30px, $dark-secondary);
        }

        .artYears {
            margin-top: 16px;
            @include font(16px, 700, 20px, $primary);
        }
    }
}

@media (max-width: $large) {
    .details {
        grid-template-columns: 1fr;
        flex-direction: column;

        &Img {
            justify-self: center;
            display: block;

            & > img {
                width: 100%;
            }
        }

        &Info {
            // max-width: 100%;
            margin-top: 32px;
        }

        .artYears {
            margin-bottom: 32px;
        }
    }
}

@media (max-width: $small) {
    .details {
    }
}
